<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/public/css/style.css" />
    <title>Lista de Productos</title>
  </head>
  <body>
    <div class="container-home">
      <p class="info-off">30% off site wide and free shipping with promo code:
        SUMMERSALE</p>
      <h1 class="title-home">SONS</h1>
      <div class="container-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/realtimeproducts">realtimeproducts</a></li>
                    <li><button id="cartButton">CART</button></li>


        </ul>
      </div>
      <div class="text-img">
        <div class="container-text-home"><img
            src="/src/multimedia/home2.webp"
          /></div>
        <div class="container-img-home">
          <img src="/src/multimedia/vouge.jpeg" />
        </div>
      </div>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
    <script src="/src/public/cart.js"></script>
  </body>
</html>