<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/public/css/products.css" />
  <title>Document</title>
</head>
<body>
  <div class="container-register">
    <div class="register">
      <h1>Registrarme!</h1>
      <form class="form_main" action="">
        <div class="form-register">
          <label class="form-label"></label>
          <div class="inputContainer">
            <svg viewBox="0 0 16 16" fill="#2e2e2e" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="inputIcon">
              <path d="..."></path>
            </svg>
            <input type="text" class="form-control" id="first_name" placeholder="Nombre">
          </div>
        </div>
        <div class="form-register">
          <label class="form-label"></label>
          <div class="inputContainer">
            <svg viewBox="0 0 16 16" fill="#2e2e2e" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="inputIcon">
              <path d="..."></path>
            </svg>
            <input type="text" class="form-control" id="last_name" placeholder="Apellido">
          </div>
        </div>
        <div class="form-register">
          <label class="form-label"></label>
          <div class="inputContainer">
            <svg viewBox="0 0 16 16" fill="#2e2e2e" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="inputIcon">
              <path d="..."></path>
            </svg>
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="form-register">
          <label class="form-label"></label>
          <div class="inputContainer">
            <svg viewBox="0 0 16 16" fill="#2e2e2e" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="inputIcon">
              <path d="..."></path>
            </svg>
            <input type="text" class="form-control" id="age" placeholder="Edad">
          </div>
        </div>
        <div class="form-register">
          <label class="form-label"></label>
          <div class="inputContainer">
            <svg viewBox="0 0 16 16" fill="#2e2e2e" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="inputIcon">
              <path d="..."></path>
            </svg>
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
          </div>
        </div>
        <button type="button" class="btn-register" id="btnRegister">Registrar</button>
      </form>
    </div>
  </div>

  <script src="../src/public/register.js"></script>
</body>
</html>
