<form action="/api/sessions/reset-password/{{token}}" method="POST">
  <input type="hidden" name="token" value="{{token}}">
  <label for="password">Nueva Contraseña:</label>
  <input type="password" id="password" name="password" required>
  <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>
  <button type="submit">Restablecer Contraseña</button>
</form>
