<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/public/css/products.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-login">
      <div class="login">
        <h1>Restore password</h1>
        <form
          action="/api/sessions/reset-password/{{token}}"
          method="POST"
          class="form"
        >
          <input type="hidden" name="token" value="{{token}}" />
          <input
            type="password"
            id="password"
            name="password"
            class="form--input"
            placeholder="Nueva contrasñea"
          />
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
            class="form--input"
            placeholder="Confirmar Nueva Contraseña"
          />
          <button type="submit" class="btn-login">Restablecer Contraseña</button>
        </form>
      </div>
    </div>
  </body>
</html>